@import "vars";
.page_title{

  width: 100%;
  background-image: url("../img/bg_page.png");
  background-color: #070f25;
  padding-top: 20px;
}

.user_page{
  width: 100%;
  background-color: #041031;
  padding-bottom: 200px;
  min-height: 743px;
  header{
    width: 100%;
    padding: 30px 0 15px;
    background-color: #000725;
    margin-bottom: 30px;
  }
}
.page_title_wr{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  color: #fff;
  h1{
    font-family: $mull;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;

  }
  span{
    font-size: 20px;
    font-family: $tit;
    font-weight: 200;

    margin-bottom: 0;
  }
}

.white_content{
  padding: 50px 0;
  width: 100%;
  background-color: #fff;
  P{
    &:last-child{
      margin-bottom: 0;
    }
  }

}
.content{
  p{
    color: #333333;

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

  }
  span.title{
    font-weight: 700;
    text-align: center;
    display: block;
    font-size: 30px;
    margin-bottom: 10px;

  }
  .text_center{
    text-align: center;
  }
}

.about_facts{
  width: 100%;

  padding: 70px 0;
  background-image: url("../img/facts.jpg");
  background-size: cover;
  background-position: center;
  h1{
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    font-family: $mull;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
  }
}

.about_facts_item{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  img{
    width: 100px;
    height: 90px;
    margin-bottom: 30px;
  }
  .about_facts_counter{
    color: #fff;
    .counter_wr{

      font-size: 35px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      letter-spacing: 2px;

      span{
        display: inline-block;
        margin-left: 7px;
        font-size: 18px;
      }
    }
    p{
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: center;
    }
  }
}

.pricing_title{

  background-image: url("../img/price_bg.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  padding-bottom: 150px;
  .page_title_wr{
    height: 200px;
    margin-bottom: 100px;
  }
}

// Tables


$primary-color: #3265f0;




.card {
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 50px 60px 40px;
  position: relative;
  will-change:transform;
  height: 100%;
  display: flex;
  flex-direction: column;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: $primary-color;
    transition: 0.5s;
  }

  &.center{
    width: 118%;
    margin-left: -9%;
    height: 115%;
    margin-top: -10%;
    position: relative;
    z-index: 10;
  }

  &:hover {

    -webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, .08);

    &:after {
      width: 100%;
    }

  }
  & .card-header {
    background-color: white;

    border-bottom: 0;
    margin-bottom: 15px;

    >span{
      font-weight: 200;
      display: block;
      text-align: center;
      color: #555555;
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
  & .card-title {
    margin-bottom: 1rem;
  }
  & .card-block {
    padding-top: 0;
  }
  & .list-group-item {

    color: #333333;
    font-family: $open;
    font-size: 17px;
    margin-bottom: 10px;

    &:before{
      content: "\f2f7";
      font-family: "Font Awesome 5 Pro";
      -moz-osx-font-smoothing: grayscale;
      font-weight: 200;
      webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      color: #3265f0;
      margin-right: 10px;
      font-size: 18px;
      position: relative;
      top: 2px;
    }

  }
}

// Price
.display-2 {
  font-size: 60px;
  font-weight: 700;
  font-family: $mull;
  color: #3265f0;
  text-align: center;
  & .currency {
    font-size: 30px ;
    position: relative;
    font-family: $open;
    top: -18px;
    margin-right: 5px;
    letter-spacing: 0;
  }
  & .period {
    font-size: 1rem;
    font-family: $open;
    letter-spacing: 0px;
  }
}


.btn {
  text-transform: uppercase;
  width: 100%;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #ff871c;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  font-family: $mull;
  margin-top: 40px;
  margin-bottom: 0;
  &:hover{
    background: #3265f0;
    color: #fff;
  }
}

//install  page
.install_instruction{
  .install_donwload{

    margin: -37px auto 60px;
    max-width: 300px;
    display: flex;
    justify-content: center;
  }
  .video{
    .progress-pie-chart{
      margin-top: 100px;
    }
  }
}
.install_instruction_item{
  margin-bottom: 70px;
  span{
    color: #020b21;
    font-weight: 500;
    font-size: 30px;
    display: block;
    margin-bottom: 20px;

  }
  p{
    color: #333333;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
  }
}

@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

$size: 130px;
.progress-pie-chart {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  margin: 10px auto;
  &.gt-50 {
    background-color: #3265f0;;
  }
}
.ppc-progress {
  @include circle($size);
  clip: rect(0, $size, $size, #{$size/2});
  .ppc-progress-fill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    background: #3265f0;
    transform: rotate(60deg);
  }
  .gt-50 & {
    clip: rect(0, #{$size/2}, $size, 0);
    .ppc-progress-fill {
      clip: rect(0, $size, $size, #{$size/2});
      background: #E5E5E5;
    }
  }
}
.ppc-percents {
  @include circle(#{$size/1.15});
  background: #fff;
  text-align: center;
  display: table;
  font-size: 60px;
  font-family: $mull;
  font-weight: bold;
  color: #3265f0;

}
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}


// --------------------------------- account

.account_nav{
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #637394;
  li{
    margin-right: 40px;
    a{
      color: #ffffff;
      font-family: $mull;
      font-size: 17px;
      font-weight: 400;
      line-height: 50px;
      text-transform: uppercase;
      &.active,&:hover{
        color: #637394;
      }

    }
  }
}
form{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  h3{
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
  }
  .button{
    border: none;
    height: 53px;
    font-size: 18px;
  }
  .btn_test{
    width: 242px;
    height: 43px;
    background-color: #1e2846;
    min-width: 280px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
    color: #fff!important;
    opacity: 1;

    &:hover{
      color: #fff;
      background-color: #4e83fe;
    }
  }
}
.sing_form{
  margin-bottom: 15px;
  label{
    display: block;
    width: 100%;
    color: #fff;
  }
  span{
    color: #fff;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    display: block;
  }

  input,select{
    height: 43px;
    background-color: rgba(255, 255, 255, 0.11);
    width: 100%;
    padding: 0 15px;
    line-height: 43px;
    color: #fff;
    border: none;
  }
  .jq-selectbox__select {
    height: 43px;
    padding: 0 45px 0 15px;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
  .jq-selectbox__select-text {
    display: block;
    overflow: hidden;
    width: 100%!important;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 43px;
    line-height: 43px;
    font-size: 16px;
  }
  .jq-selectbox__dropdown {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background: #ffffff;
    font-size: 16px;
    margin-top: 5px;
    box-shadow: none;
  }
  .jq-selectbox li:hover {
    background: rgba(1, 14, 56, 0.57);
    color: #fff;
  }
  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 15px;
    background-image: url(../img/down.svg);
  }
}


// Transition
@mixin transition ($properties...) {
  transition: $properties .3s ease-out;
  -webkit-transition: $properties .3s ease-out;
  -moz-transition: $properties .3s ease-out;
  -ms-transition: $properties .3s ease-out;
  -o-transition: $properties .3s ease-out;
}

.menu-link {
  color: #fff;
  display: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  left: 0;
  padding: 20px 0 0;
  margin: 20px 0 0;
  &:hover{
    color: #fff;
  }


  &:before {
    content: "";
    background: #fff;
    height: 4px;
    width: 40px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin: 0 0 0 -20px;
    display: block;
    @include transition(all);
  }

  &:after {
    content: "";
    background: #fff;
    height: 4px;
    width: 40px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin: 0 0 0 -20px;
    display: block;
    @include transition(all);
  }

  &.close {
    &:before {
      transform: rotate(45deg);
      top: 0;
      width: 25px;
      margin: 0 0 0 -13px;
    }
    &:after {
      transform: rotate(-45deg);
      top: 0;
      width: 25px;
      margin: 0 0 0 -13px;
    }
  }
}

.adress_item{

  border-bottom: 1px solid rgba(255, 255, 255, 0.15);

  padding-bottom: 10px;
  padding-top: 10px;
  &:last-child{
    border-bottom: none;
  }
}

// ------------- payments
.payments_title{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-size: 18px;
  color: #ffffff;
  i{
    color: #64c566;
    font-style: normal;
  }
  h3{
    margin: 0;
    line-height: 1;
  }
  span{
    margin: 0;
    line-height: 1;
  }
}

.rwd-table {
  margin: 40px 0;
  width: 100%;
  color: #fff;



  tr {

    background-color: #1e2846;


  }

  th {
    display: none;
    background-color: #353e59;
    padding: 5px 10px;
    border: 3px solid #041031;
    font-size: 14px;
  }

  td {
    display: block;
    padding: 5px 10px;
    border: 3px solid #041031;
    font-size: 14px;
    font-weight: 400;

    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }
    @media (min-width: 767px) {
      font-weight: 400;
      font-size: 14px;
    }

    &:before {
      content: attr(data-th)": ";
      font-weight: bold;


      width: 6.5em;
      display: inline-block;


      @media (min-width: 767px) {
        display: none;
      }
    }
  }

  th, td {
    text-align: left;



    @media (min-width: 767px) {
      display: table-cell;
      padding: 5px 15px;



    }



  }
}

@media (max-width: 767px) {
  tr {

    background-color: #1e2846;
    border-bottom: 3px solid #2196F3;

  }
  .payments_title{
    flex-direction: column;
    margin-top: 15px;
    h3{
      margin-bottom: 15px;
    }
  }
}
.fa-check-circle{
  color: #64c566;
}

.fa-exclamation-circle{
  color: red;
}

.sel_period_form{
  .button{
    margin-top: 0;
    height: 43px;
    min-width: 100%;

  }
}
.right{
  float: right;
}

.name{
  color: #5abfdb;
  font-weight: 700;
}


.user_panel_form{
  .button{
    min-width: 100%;
    padding: 0;

  }

}
.page_sing{
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/sing_bg.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

