@import "vars";
.page_title{

  width: 100%;
  background-image: url("../img/bg_page.png");
  background-color: #070f25;
  padding-top: 20px;
}
.page_title_wr{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  color: #fff;
  h1{
    font-family: $mull;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;

  }
  span{
    font-size: 20px;
    font-family: $tit;
    font-weight: 200;

    margin-bottom: 0;
  }
}

.white_content{
  padding: 50px 0;
  width: 100%;
  background-color: #fff;

}
.content{
  p{
    color: #333333;

    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
}

.about_facts{
  width: 100%;

  padding: 70px 0;
  background-image: url("../img/facts.jpg");
  background-size: cover;
  background-position: center;
  h1{
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    font-family: $mull;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
  }
}

.about_facts_item{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  img{
    width: 100px;
    height: 90px;
    margin-bottom: 30px;
  }
  .about_facts_counter{
    color: #fff;
    .counter_wr{

      font-size: 35px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      letter-spacing: 2px;

      span{
        display: inline-block;
        margin-left: 7px;
        font-size: 18px;
      }
    }
    p{
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: center;
    }
  }
}