
<footer>
    <div class="container">
        <div class="footer_wr">
            <a href="#" class="logo">
                <img src="img/logo.png" alt="">
            </a>
            <nav>
                <ul>
                    <li><a href="#">Home </a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">payment</a></li>


                </ul>
            </nav>

            <ul class="social">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
            </ul>
        </div>
        <div class="footer_bottom">
            <span>© 2018 Belters. All Rights Reserved</span>
            <ul>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>


        </div>
    </div>


</footer>

<div class="all_pages">
    <div class="page_point"></div>
    <ul class="page_list">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About us</a></li>
        <li><a href="price.html">Pricing</a></li>
        <li><a href="install.html">Install</a></li>
        <li><a href="account.html">Account</a></li>
        <li><a href="notifications.html">Notifications</a></li>
        <li><a href="cryp_adress.html">Cryptocurrency Addresses</a></li>
        <li><a href="payments.html">Payments</a></li>
        <li><a href="users.html">Users</a></li>
        <li><a href="user_panel.html">User Panel</a></li>
        <li><a href="sing.html">Sing</a></li>


    </ul>
</div>
<script src="js/scripts.min.js"></script>
<script src="libs/form_style/jquery.formstyler.js"></script>
<script src="js/common.js"></script>

</body>
</html>