

<header class="main_header">
    <div class="container">
        <div class="main_header_wr">
            <a href="#" class="logo"><img src="img/logo.png" alt=""></a>
            <nav>
                <ul>
                    <li><a href="#">Home </a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">payment</a></li>
                    <li><a href="#" class="sing">sign in</a></li>

                </ul>
            </nav>
        </div>

    </div>

</header>
